body {
  /* background-color: #e4e9fd; */
  background-image: linear-gradient(
    to right,
    rgba(241, 94, 165, 0.533),
    rgba(63, 88, 211, 0.504)
  );
  min-height: 1000px;
  font-family: "Titillium Web", sans-serif;
}

h1, h3, h2, h4, h5 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexHeadingBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#heading {
  background-color: rgba(63, 88, 211, 0.793);
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: rgba(63, 88, 211, 0.793);
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.boxbtn {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgba(63, 88, 211, 0.793);
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.boxbtn:hover {
  background-color: #7783eedf;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  font-family: "Titillium Web", sans-serif;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 rgb(63, 88, 211);
}

::placeholder {
  color: grey;
  opacity: 1;
  font-family: "Titillium Web", sans-serif;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* .gradient-background {
  height: 600px;
   background: linear-gradient(62deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
     animation: gradient 15s ease infinite; 
      background-size: 400% 400%;
  
} */
/* @-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
} */
